@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex flex-column justify-content-center align-content-center">
    <div class="row itens-pagina mt-5">
        <div class="col">
            <h1 class="text-center title">Aplicação simples para Cadastros de produtos e fornedores.</h1>
            <h2 class="text-center subTitle">Utilizando Asp.Net Core 5, Entity Framework, Identity com Sql Server. </h2>
        </div>
        <div class="col">
            <img src="~/imagens/landing-page.png" height="600" class="img-landing img-thumbnail" alt="Landing" />
        </div>
    </div>
</div>

